body {
    background: #4488FF;
}

#container  {
    height: 128.7px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}

.img {
    display: inline-block;
    margin-top: 100px;
    width: 800px;
    height:100%;
}
